.PostBlock {
  --imageSize: 5rem;
  --imagePadding: 0.25rem;

  margin: 1rem auto;
  
  width: 80%;
  min-height: calc(var(--imageSize) + var(--imagePadding));

  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;

  text-align: left;

  -webkit-transition: all 0.7s ease-out;
     -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
       -o-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;

          background-color: white;
}

.PostBlock .postId {
  float: right;
  margin: 0;
}

.PostBlock .postPicture {
  float: left;
  width: var(--imageSize);
  height: var(--imageSize);
  padding: var(--imagePadding);
  border: 2px solid grey;
  border-radius: 0.25rem;
  overflow: hidden;
}

.PostBlock .postContent {
  margin-left: calc(var(--imageSize) + 2 *var(--imagePadding));
  padding:  0 1rem;
  text-align: left;
}

.PostBlock .postContent .postTitle {
  margin: 0 auto 0.25rem;
  color: brown;
  font-size: 125%;
  font-weight: normal;
}

.PostBlock .postTime {
  margin: 0 auto 1rem;
  font-size: 70%;
}

.PostBlock .postContent .postDescription {
  margin: 0;
}